table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }

.addOrderButton{
  position: absolute;
    right: 2%;
}
  

agm-map {
  height: 300px;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
}


